# Node modules
**/node_modules/

# Build artifacts
**/dist/
**/build/

# Turbo & Docusaurus
**/.turbo/
**/.docusaurus

# Misc files
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Local Netlify folder
.netlify

# IDE specific files
.idea
.vscode/**
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/tasks.json
*.swp
*.swo

# TypeScript
*.tsbuildinfo

# Cache
.cache
.temp

# Tarballs
**/*.tgz


# Documentation
packages/*/docs/
!packages/documentation/docs/
packages/examples/public/audio-worker.js
packages/examples/public/ffmpeg/ffmpeg-core.js
packages/examples/public/ffmpeg/ffmpeg-core.wasm
packages/examples/public/mp4-wasm.wasm
packages/examples-cra/public/audio-worker.js
packages/examples-cra/public/ffmpeg/ffmpeg-core.js
packages/examples-cra/public/ffmpeg/ffmpeg-core.wasm
packages/examples-cra/public/mp4-wasm.wasm
